:root {
    --black: #000000;
    --white: #ffffff;
    --dark-grey: #212224;
    --light-grey: #E0E0E0;
    --orange-highlight: #DFBD85;
    --dark-orange: #6f5522;
    --custom-white: #ffffff;
    --custom-black: #000000;
    --light-blue: #91AFB9;
    --dark-blue: #576E77;
}