/* gutenberg overrides */
.main-content a {
    color: var(--dark-orange);
}

.main-content .section-padding {
    padding: 3.75rem 30px;
    @media (min-width: 768px) {
        padding: 10rem 30px;
    }
}

.main-content .background-dark {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

.main-content .background-blue {
    background-color: var(--light-blue);
    color: var(--dark-grey);
}

.main-content .background-light-grey {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.main-content .background-light-grey a {
    color: var(--dark-orange);
}

.main-content .background-dark a {
    color: var(--orange-highlight);
}


.main-content .background-grey h1, 
.main-content .background-grey h2, 
.main-content .background-grey h3,
.main-content .background-grey h4,
.main-content .background-grey h5,
.main-content .background-grey h6,
.main-content .background-grey p {
    color: var(--dark-grey);
}

.main-content .background-dark h1, 
.main-content .background-dark h2, 
.main-content .background-dark h3,
.main-content .background-dark h4,
.main-content .background-dark h5,
.main-content .background-dark h6,
.main-content .background-dark p {
    color: var(--light-grey);
}

.main-content .background-dark h3,
.main-content .background-light-grey h3 {
    font-size: 3.5rem;
    margin-top: 1.30rem;
}

.main-content .section-1 img.portrait {
    border-radius: 50%;
}

.main-content .button-primary a {
    display: block;
    width: auto;
    text-align: center;
    color: var(--orange-highlight);
    border: 1px solid var(--orange-highlight);
    padding: 1rem 3rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-weight: Bold;
    border-radius: 0;
    background-color: transparent;
}

.main-content .home-button {
    width: 100%;
    max-width: 250px;
    margin: 0 0 8px 0;
    @media(min-width: 768px) {
        margin: 0 8px 0 0;
    }
}

.main-content .button-light a {
    display: block;
    width: auto;
    text-align: center;
    color: var(--custom-white);
    border: 1px solid var(--custom-white);
    padding: 1rem 3rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-weight: Bold;
    border-radius: 0;
    background-color: transparent;
}

.main-content .button-dark a {
    display: block;
    width: auto;
    text-align: center;
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    padding: 1rem 3rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-weight: Bold;
    border-radius: 0;
    background-color: transparent;
}

/* contact form 7 */
.main-content input[type="text"],
.main-content input[type="email"] {
    font-size: 1.25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    width: 100%;
}

.main-content input[type="submit"] {
    background: transparent;
    border: 1px solid var(--orange-highlight);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    color: var(--orange-highlight);
}

.main-content textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.25rem;
}

.main-content div.error-message {
    color: var(--light-grey);
}

.main-content .latest-posts h3{
    margin-top: 0;
}

.main-content .wp-block-button {
    margin: 1rem 0 0;
    @media(min-width: 768px) {
        margin: 0;
    }
}

.main-content .lead {
    font-size: 120%;
}

.main-content pre code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto;
}

.main-content code {
    background: var(--black) none repeat scroll 0% 0%;
    color: var(--white);
    border-radius: 4px;
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0px 0.25rem;
    padding: 0.25rem 0.65rem;
}

.main-content hr {
    border-color: var(--orange-highlight);
    border-style: none none solid;
    border-width: 0px 0px 1px;
    border-image: none 100% / 1 / 0 stretch;
    margin: 2rem 0px;
}