body {
    margin: 0px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--dark-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    color: var(--light-grey)
}

p,
ul,
li
{
    font-size: 1.25rem;
    line-height: 2rem;
}

ul {
    list-style: none;
    padding: 0px;
}

li :before {
    content: '>';
    margin-right: 1rem;
    font-weight: bold;
}

.lead {
    font-size: 120%;
}

h3 {
    font-size: 3.7rem;
    margin: 0;
    line-height: 5rem;
}

a {
    color: var(--orange-highlight)
}
