/* overrides for wordpress elements */
.wp-block-group__inner-container {
    max-width: 1200px;
    margin: 0 auto;   
}

.wp-block-separator {
    max-width: 100% !important;
}

.wp-block-quote {
    border-left: 4px solid var(--orange-highlight) !important;
}

.wp-block-quote cite {
    color: var(--dark-grey);
    font-size: 1.25rem;
    font-weight: bold;
}

.wp-block-code {
    padding: 0;
    border: none;
    border-radius: 0;
}

.wp-block-image img {
    height: auto;
}