h1, h2, h3, h4, h5, h6 {
    color: var(--dark-grey);
    margin: 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}

p,
ul,
li { 
    font-size: 1.25rem;
    line-height: 2rem;
}

.lead {
    font-size: 110%;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.25rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 3.5rem;
    }
    
    h4 {
        font-size: 3rem;
    }
    
    h5 {
        font-size: 2.5rem;
    }
    
    h6 {
        font-size: 2rem;
    }
}